In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import DBSCAN

In [2]:
df = pd.read_excel('C:/Users/mahar/OneDrive/Desktop/Fraunhofer/Hydrogen/h2_company_list.xlsx')

In [3]:
df['clean_name'] = df['name_lower'].str.strip()

In [4]:
df_new = df[0:1000]
df_new

,mentionCount,org,org_name,name_lower,organizations,Non Relevant/ Counted,clean_name
0,188,http://fraunhofer.de/data/Toyota,Toyota,toyota,['toyota'],x,toyota
1,127,http://fraunhofer.de/data/Hyundai,Hyundai,hyundai,['hyundai'],NaN,hyundai
2,101,http://fraunhofer.de/data/renewable_energy,renewable energy,renewable energy,['renewable energy'],x,renewable energy
3,72,http://fraunhofer.de/data/DOI,DOI,doi,['doi'],x,doi
4,64,http://fraunhofer.de/data/Reuters,Reuters,reuters,['reuters'],NaN,reuters
...,...,...,...,...,...,...,...
995,2,http://fraunhofer.de/data/CAES,CAES,caes,['caes'],NaN,caes
996,2,http://fraunhofer.de/data/CC,CC,cc,['cc'],NaN,cc
997,2,http://fraunhofer.de/data/CCC,CCC,ccc,['ccc'],NaN,ccc
998,2,http://fraunhofer.de/data/CCUS,CCUS,ccus,['ccus'],NaN,ccus
999,2,http://fraunhofer.de/data/CES,CES,ces,['ces'],NaN,ces

In [5]:
vectorizer = TfidfVectorizer()
name_vectors = vectorizer.fit_transform(df_new['clean_name'])

In [13]:
dbscan = DBSCAN(eps=0.4, min_samples=2, metric='cosine')
labels = dbscan.fit_predict(name_vectors)

In [14]:
df_new['cluster_label'] = labels

C:\Users\mahar\AppData\Local\Temp\ipykernel_15752\384193000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['cluster_label'] = labels

In [15]:
df_new['cluster_label'].unique()

array([  0,   1,   2,   3,   4,  -1,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
       142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153],
      dtype=int64)

In [20]:
df_new[df_new['cluster_label']==16]

,mentionCount,org,org_name,name_lower,organizations,Non Relevant/ Counted,clean_name,cluster_label
29,27,http://fraunhofer.de/data/The_Canadian_Press,The Canadian Press,the canadian press,['the canadian press'],x,the canadian press,16
47,19,http://fraunhofer.de/data/Canadian_Pacific,Canadian Pacific,canadian pacific,['canadian pacific'],NaN,canadian pacific,16
440,4,http://fraunhofer.de/data/CANADIAN,CANADIAN,canadian,['canadian'],NaN,canadian,16

In [18]:
cluster_counts = df_new['cluster_label'].value_counts()
print(cluster_counts)

-1      517
 17      20
 23      16
 80      15
 10      12
       ...
 75       2
 18       2
 68       2
 67       2
 153      2
Name: cluster_label, Length: 155, dtype: int64